@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GangwonEdu_OTFBoldA', sans-serif; /* 'GangwonEdu_OTFBoldA' 폰트를 적용하고, 이 폰트가 로드되지 않은 경우에 대비하여 대체 폰트를 추가합니다. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
width: 100vw;
max-width: 500px;
/* height: 100%; */
margin: auto;
background-color: #f8f7f5;
text-align: center;
}